body {
    margin: 0;
}

.game-of-life {
    display: grid;
    gap: 0px;
    /* overflow: hidden; */
}

.row {
    display: flex;
}

.cell {
    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: rgb(136, 136, 136);
    /* transition: opacity 1s; */
}

.cell.alive {
    opacity: 1;
    /* transition: opacity 1s; */
}

.gol-button {
    float: right;
    background-color: #b6eada9c;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25%;
}

.gol-button.fixed {
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    top: 150px;
}

.gol-button:hover {
    background-color: #B6EADA;
}

.gol-button i {
    font-size: x-large;
}


.gol-button:focus i {
    animation-name: rotateAnim;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes rotateAnim {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
  