.game-of-life {
    display: grid;
    gap: 0px;
    /* overflow: hidden; */
}

.row {
    display: flex;
}

.cell {
    width: 15px;
    height: 15px;
    opacity: 0;
    background-color: rgb(136, 136, 136);
    /* transition: opacity 1s; */
}

.cell.alive {
    opacity: 1;
    /* transition: opacity 1s; */
}