::-webkit-scrollbar {
    scrollbar-width: none;
}

html {
    overflow-x: hidden;
}

.content {
    background-color: #0a0535;
}

.caption {
    margin-top: 25vh;
    padding-bottom: 5px;
    /* margin-top: 33%; */
    width: 40%;
    padding-left: 20px;
    border-radius: 10px;
    text-wrap: normal;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 1;
    filter: drop-shadow(0 0 0.75rem #00000088);
}

.caption.left {
    left: 40px;
}

.caption.right {
    right: 40px;
}

.caption h2
{
    width: 100%;
    /* text-align: center; */
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: 500;
}

.content ul {
    list-style-type:symbols();
    padding-left: 0;
}

.content li {
    margin-left: 30px;
}

h2 a, i a, li a {
    text-decoration: none;
    color: #5B8FB9;
}

.parallax-wrapper.first.l {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}
.parallax-wrapper.first.r {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.parallax-wrapper.l {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.parallax-wrapper.r {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.parallax-wrapper.last.l {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
.parallax-wrapper.last.r {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.invis-scroll {
    z-index: 1;
    position: absolute;
    width: 6px;
    height: 100%;
}

.scrollBar-wrapper {
    top: 10%;
    z-index: 2;
    position: fixed;
    width: 2px;
    height: 80%;
}

.scrollBar {
    left: 5px;
    z-index: 3;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    block-size: fit-content;
    background: linear-gradient(144deg,#6c4dc7, #4ad8a9);
    color: #f2f2f2;
    position: relative;
    font-size: smaller;
    transition: top 0.75s ease-out;
}

.xview2 {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: right;
    vertical-align: middle;
    z-index: -1;
}

.xview2 img {
    object-fit: cover;
    float: right;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}

@keyframes fadeStar {
    0% {background: rgba(255, 251, 0, 0.5);}
    50% {background: rgb(255, 252, 81);}
    100% {background: rgba(255, 251, 0, 0.5);}
}
.aoc {
    left: 0; 
    max-width: 100%; 
    /* background: rgb(255, 251, 0); */
    animation: fadeStar 4s infinite ease-in-out;

}

@keyframes fadeDropShadow {
    0% {filter: drop-shadow(0 0 0.75rem rgba(255, 251, 0, 0.5));}
    50% {filter: drop-shadow(0 0 1rem rgb(255, 251, 0));}
    100% {filter: drop-shadow(0 0 0.75rem rgba(255, 251, 0, 0.5));}
}
.aoc-caption {
    animation: fadeDropShadow 4s infinite ease-in-out;
}