::-webkit-scrollbar {
    scrollbar-width: none;
}

html {
    overflow-x: hidden;
}

.content {
    background-color: #0a0535;
}

.caption {
    margin-top: 25vh;
    padding-bottom: 5px;
    width: 40%;
    padding-left: 20px;
    border-radius: 10px;
    text-wrap: normal;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 1;
    filter: drop-shadow(0 0 0.75rem #00000088);
}

/* .caption.left {
    left: 60px;
} */
.caption.left {
    margin-left: 65px;
}

.caption.right {
    right: 40px;
}

.caption h2 {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: 500;
}

.content ul {
    list-style-type:symbols();
    padding-left: 0;
}

.content li {
    margin-left: 30px;
}

h2 a, i a, li a {
    text-decoration: none;
    color: #5B8FB9;
}

.parallax-wrapper.first.l {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}
.parallax-wrapper.first.r {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.parallax-wrapper.l {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.parallax-wrapper.r {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.parallax-wrapper.last.l {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
.parallax-wrapper.last.r {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.invis-scroll {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
}

.scrollBar-wrapper {
    top: 10%;
    z-index: 2;
    position: fixed;
    width: 10px;
    height: 66%;
    border-right: 5px dotted #6c4dc7;
}

.scrollBar, .scrollNode {
    user-select: none;
    z-index: 3;
    padding: 10px;
    border-radius: 20px;
    block-size: fit-content;
    color: #f2f2f2;
    font-size: smaller;
}

.scrollBar {
    position: absolute;
    right: 0;
    background: linear-gradient(144deg,#6c4dc7, #646fc0);
    /* ! Depends on the width of the dotted line (+0.5px) ! */
    transform: translateX(calc(50% + 3px));
    transition: top 0.75s ease-out;
}

.scrollNode {
    position: relative;
    left: 7px;
    width: fit-content;
    filter: grayscale(1);
    scale: 0.6;
    background: linear-gradient(144deg,#6c4dc7, #4ad8a9);
    transition: all 0.5s ease-out;
}

.scrollNode.active, .scrollNode:hover {
    cursor: pointer;
    scale: 0.9;
    filter: grayscale(0);
}

.scrollNode.active {
    border-top-left-radius: 5px;
}

.flat {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: right;
    vertical-align: middle;
    z-index: -1;
    margin-left: 5%;
}

.flat img {
    object-fit: cover;
    float: right;
    margin: 10%;
    max-height: 100%;
    max-width: 100%;
    overflow-x: visible;
}

@keyframes fadeStar {
    0% {background: rgba(255, 251, 0, 0.5);}
    50% {background: rgb(255, 252, 81);}
    100% {background: rgba(255, 251, 0, 0.5);}
}
.aoc {
    left: 0; 
    max-width: 100%; 
    /* background: rgb(255, 251, 0); */
    animation: fadeStar 4s infinite ease-in-out;

}

@keyframes fadeDropShadow {
    0% {filter: drop-shadow(0 0 0.75rem rgba(255, 251, 0, 0.5));}
    50% {filter: drop-shadow(0 0 1rem rgb(255, 251, 0));}
    100% {filter: drop-shadow(0 0 0.75rem rgba(255, 251, 0, 0.5));}
}
.aoc-caption {
    animation: fadeDropShadow 4s infinite ease-in-out;
}